{% extends "::base.html.twig" %}

{% block title %}Гостьова книга{% endblock %}

{% block content %}
    <form action='' method="post" class="form-signin">
    {{ form_label(form.name)}} {{ form_widget(form.name)}} {{ form_errors(form.name) }}
    {{ form_label(form.email)}}{{ form_widget(form.email) }} {{ form_errors(form.email) }}
    {{ form_label(form.message)}}{{ form_widget(form.message) }} {{ form_errors(form.message) }}
    {{ form_widget(form.ok) }}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    </form>
{% if pagination.haveToPaginate %}
    {{ pagerfanta(pagination) }}
{% endif %}
 
{% for post in pagination.currentPageResults %}
            <div class="thumbnail">
                <div class="when-added">добавлено: {{ post.dateTimeUploaded.date }} </div>
                <div class="caption">
                    <h4>Відгук від {{ post.name }} ({{post.email}})</h4>
                    <p>{{ post.message | dotdotdot(100)}} </p>
                </div>
                    <a href=' {{path('_postview',{'id':post.id}) }}'>просмотреть</a>
                    <a href=' {{path('_postdelete',{'id':post.id}) }}'> удалить </a>
            </div>
{% endfor %}
{% if pagination.haveToPaginate %}
    {{ pagerfanta(pagination) }}
{% endif %}

{% endblock %}


{% set code = code(_self) %}

