{% extends "::base.html.twig" %}

{% block title "Список тестов " %}


{% block content %}
   <p> Hello, !</p>
    <h1>Зараз доступні наступні тести:</h1>
   {% if pager.haveToPaginate %}
       {{ pagerfanta(pager) }}
   {% endif %}

      <div id="updates">
        {%  for test in pager.currentPageResults %}
            <div class="thumbnail">
                <div class="when-added">добавлено: {{ test.dateTimeUploaded.date }} </div>
                <a href="{{path('chabanenk0_test_assignment_edit_test', {'id': test.testId})}}">Змінити</a>
                <div class="caption">
                    <h3>{{ test.testName }}</h3>
                    <p> {{ test.testDescription|dotdotdot(200) }}</p>
                    <p><a href="{{path('_testview',{'id': test.id}) }}" class="btn btn-primary" role="button">Пройти тест</a> </p>
                </div>
                tags:
                {% for tag in test.tags %}
                   <a href='{{ path('_tests',{'id': tag.id}) }}'>{{ tag.name }}</a>,
                {% endfor%}
                <a href="{{ path('_guestbook_id',{'id': test.id}) }}">Залишити відгук</a>
            </div>
        
   {%  endfor%}
            <div id="more{{nextpage}}" class="morebox">
            <a href="#" class="more" id="{{nextpage}}">more</a>
            </div>
        </div>

   <a href='{{path('_new_test_asmt')}}'>Створити новий тест</a>
{% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
$(function() {
//More Button
$('.more').on("click",function() {
    var ID = $('.more').attr("id");
    if(ID)
    {
        $("#more"+ID).html('<img src="/web/acmedemo/images/spinner3-genuine.gif" />');
        $.ajax({
            type: "POST",
            url: "{{path('_tests_pager', {'id': tagId})}}/"+ ID,
            data: "lastmsg="+ ID, 
            cache: false,
            success: function(html){
                $("#updates").append(html);
                $("#more"+ID).remove();
            }
        });
    }
    else {
    $(".morebox").html('The End');
    }
return false;
});
});

</script>

    {% endblock javascripts %}


{% set code = code(_self) %}
